        <footer class="bg-slate-100 py-6 text-sm">
            <ul class="flex justify-center space-x-6">
                <li><a href="#">Terms</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">Legal</a></li>
            </ul>
        </footer>
    </div>
</body>
</html>