<header class="bg-slate-100 py-6 text-lg">
    <nav class="flex justify-between mx-6">
        <div>
            <h1 class="text-xl font-bold">LOGO</h1>
        </div>
        <ul class="flex space-x-6 font-medium">
            <li><a href="/">Home</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
</header>